<br/>
<!--Card class to display presentations and its attributes.-->
<div class="card">
  <div class="card-header">
  <h4>Editing Presentation</h4>
</div>
  <div class="card-body">
    <%= render 'form', presentation: @presentation, user: @user %>
    <%= link_to 'Show', @presentation, class:'btn btn-secondary' %>
    <%= link_to 'Back', presentations_path, class:'btn btn-secondary' %>
  </div>
</div>
